<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h1>Lista de Usuarios</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="userApp : ${userAppList}">
            <td th:text="${userApp.id}"></td>
            <td th:text="${userApp.name}"></td>
            <td th:text="${userApp.lastname}"></td>
            <td th:text="${userApp.age}"></td>
        </tr>
    </tbody>
</table>

<a th:href="@{/formsave}" >Agregar Usuario</a>

</body>
</html>